PROFILE_DIR=./profiles/example
BASE_URL=https://example.com/
BIND_HOST=127.0.0.1
PORT=19192
TOKEN_FILE=./.token
# TLS_CERT=./certs/cert.pem
# TLS_KEY=./certs/key.pem
# SCREEN_WIDTH=1440
# SCREEN_HEIGHT=1100
# LOCALE=en-US
# TIMEZONE_ID=Europe/Lisbon
